<!doctype html>
{% load static %}
<html lang="hr">
    {% include "components/Head.html" with title="Welcome" %}
<body class="d-flex flex-column">
    {% csrf_token %}

    {% include "components/NavbarNotLoggedIn.html" %}

    <main class="flex-grow-1 container-fluid px-5">
		<div class="row">
			<div class="col-sm-4 px-5 d-flex flex-column justify-content-center">
                <h1 class="wellcome-text self-align-center">
                   Dobrodošli na početnu stranicu našeg poduzeća!
                </h1>
                <p class="self-align-center mt-2">
                    Istražite što sve nudimo u svome portfoliju! <br>
                    Obavljamo usluge velikog broja djelatnosti pa i mnogo više...
                </p>
                <p class="mt-5"><strong>Kontakt:</strong></p>
                <div class="text-align-left">
                    <span class="email-icon btn" disabled></span>
                    <span><i>mipunoradimo@fer.hr</i></span>
                </div>
                <div class="text-align-left">
                    <span class="phone-icon btn" disabled></span>
                    <span><i>+385 97 111 1111</i></span>
                </div>
			</div>

			<div style="height: inherit;" class="col-sm-8 px-5 d-flex flex-column">
                <div id="activities" style="position: relative;" class="activity-gallery text-align-left">
                    <!-- DJELATNOST -->
                </div>
			</div>
        </div>
        


        <div style="display: none;" class="popup-window">
            {% include "components/LoginForm.html" %}
		</div>
    </main>
    
    {% include "components/Footer.html" %}
    
    <script>
       const token = $('[name ="csrfmiddlewaretoken"').val() 
       var djelatnosti = transform(JSON.parse('{{djelatnosti_data|escapejs}}'))

        console.log(djelatnosti)
        for(d of djelatnosti) {
            $('#activities').prepend(`
                <div id="${d.id}" class="group-activity">
                    <p id="activity-name">${d.ime_djelatnosti}</p>
                    <p class="activity-description"><i id="activity-description">${d.opis_djelatnosti}</i></p>
                </div>
            `)
        }

        if(djelatnosti.length == 0)
            $('#activities').append(`
                <div id="no-activity" class="d-flex flex-column justify-content-center h-50 w-100"
                    style="position: absolute; top: 20%;">
                        <p class="text-align-center align-self-center">
                            <i>Coming soon...</i>
                        </p>
                </div>
            `)
       
        
    </script>
    <script src={% static "scripts/buttons_script.js" %}></script>

</body>
</html>