<template>
    <div class="activity">
        <p id="activity-name">djelatnost 1</p>
        <p class="activity-description"><i class="activity-description">Short description of activity...</i></p>
    </div>
</template>