<template>
    <div class="statistics">
        <p>Evidencija <span class="record-id"></span></p>
        <div class="statistics-description">
            <p><i id="record-task-name">Naziv Zadatka: ... </i></p>
            <p><i id="record-time-elapsed">Trajanje: 4h </i></p>
            <p ><i>Evidentirano: <span id="record-creation-time"></span></i></p>
        </div>
    </div>
</template>