<template>
    <header class="navbar d-flex flex-row ">
        <div class="company-logo lead">
            <strong>[Mi puno radimo]</strong>
        </div>
        <div class="navbar-buttons">
            <a href="./direktor_pocetna.html"><button class="home btn"></button></a>
            <a href="./profil_korisnika.html"><button id="user-avatar" class="avatar btn"></button></a>
            <button class="logout btn"></button>
        </div>
    </header>
</template>