<template>
    <div class="worker-selection list-group-item list-group-item-action in-group">
        <div class="user-profile">
            <button id="user-profile-picture" class="avatar btn"></button>
            <button id="user-name-surname" class="username-label btn h-25 m-1"></button>
        </div> 
    </div> 
</template>