<!doctype html>
{% load static %}
<html lang="hr">
    {% include "components/Head.html" with title="Profile"%}

<body>
	{% csrf_token %}
    {% include "components/Navbar.html" %}

	<main class="text-align-center d-flex flex-column justify-content-center">

		<div class="align-self-center">
			<button id="edit-profile" class="edit-profile btn"></button>
			<div id="user-profile-picture" class="profile-picture"></div>
			<div class="user-information">
				<h3 id="user-name-surname" class="column-name">Ime Prezime</h3>
				<div class="user-role text-align-left">
					<span id="user-role-icon" class="team-icon btn" disabled></span>
					<span><i id="user-role">uloga...</i></span>
				</div>
				<div class="user-email text-align-left">
					<span class="email-icon btn" disabled></span>
					<span><i id="user-email" >email...</i></span>
				</div>
				<div class="user-registered-since text-align-left">
					<span class="joined-since-icon btn" disabled></span>
					<span><i id="user-registered-since">datum pridruženja...</i></span>
				</div>
				<div class="user-available text-align-left">
					<span class="available-icon btn" disabled></span>
					<span><i>Dostupan</i></span>
				</div>
			</div>
		</div>

		<div style="display: none;" class="popup-window text-align-left">
			{% include "components/EditProfileForm.html" %}
		</div>

	</main>
	
	{% include "components/Footer.html" %}

	<script src={% static "scripts/buttons_script.js" %}></script></script>
	<script>
		var data = transform(JSON.parse("{{data|escapejs}}"))[0]
		var date_joined = "{{date_joined}}"


		$(document).ready(function() {
			//TODO
			//api poziv za trenutno ulogiranog korisnika
			//usporedimo id-ove ako su razliciti sakrijemo gumb za uređivanje


			$('#user-name-surname').text(data.ime + " " + data.prezime)
			let uloga = ""
			let iconClass = ""
			switch(data.uloga) {
				case "D": 
					uloga = "Direktor"
					iconClass = "director-icon btn"
					break
				case "V":
					uloga = "Voditelj"
					iconClass = "team-manager-icon btn"
					break
				case "R":
					uloga = "Radnik"
					iconClass = "team-icon btn"
					break
			}
		

			$('#user-role').text(uloga)
			$('#user-role-icon').attr('class', iconClass)
			$('#user-email').text(data.kontakt)
			$('#user-registered-since').text(date_joined)
		})

	</script>
</body>
</html>	
	