﻿<!doctype html>
<html lang="hr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="icon" type="image/png" href="../static/images/favicon.png" />

    <title>Statistika</title>
</head>

<body class="d-flex flex-column">

    <header class="navbar d-flex flex-row ">
        <div class="company-logo lead">
            <strong>[Mi puno radimo]</strong>
        </div>
        <div class="navbar-buttons">
            <a href="./direktor_pocetna.html"><button class="home btn"></button></a>
            <a href="./profil_korisnika.html"><button id="user-avatar" class="avatar btn"></button></a>
            <button class="logout btn"></button>
        </div>
    </header>

    <main class="text-align-center d-flex flex-column justify-content-center">
        <h1>{{error}}</h1>
    </main>

    <footer class="copyright text-align-center">
        <p class="m-0">Copyright © 2020 DobriLjudi.</p>
    </footer>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../scripts/buttons_script.js"></script>

    </body>

</html>