<transition>
    <div class="overlay">
        <!-- FORMA ZA DODAVANJE i UREĐIVANJE ZADATAKA U DJELATNOSTI -->
        <div class="add-activity-form">
            <form id="task-form">
                <div class="form-group">
                    <label for="new-task-name"><strong id="label-for-task-form"></strong></label>
                    <input type="text" class="form-control" id="new-task-name" placeholder="Upišite naziv zadatka" required>
                </div>
                <div class="form-group">
                    <label for="new-task-description"><strong>Opis zadatka</strong></label>
                    <textarea class="form-control" id="new-task-description" 
                                placeholder="Opišite zadatak i što treba odraditi..."
                                    rows="7" required></textarea>
                </div>
                <div class="form-group">
                    <label for="hourly"><strong>Satnica <i>(Kn)</i></strong></label>
                    <input type="number" class="form-control" id="hourly" placeholder="Preporučena satnica (kn)" required>
                </div>
                <div class="form-group">
                    <label for="duration"><strong>Trajanje <i>(u satima)</i></strong></label>
                    <input type="number" class="form-control" id="duration" placeholder="Trajanje (h)" required>
                </div>
                <div id="state-input" class="form-group">
                    <label for="task-state"><strong>Stanje</strong></label>
                    <input type="text" class="form-control" id="task-state" placeholder="Aktivan (A) ili Zavrsen (Z)" required>
                </div>
                <div class="text-align-center">
                    <button id="submit-task" class="add-new-activity-action btn btn-primary">Stvori novi zadatak</button>
                    <button class="discard-add-new-activity-action btn btn-secondary">Odustani</button>
                </div>
            </form>
        </div>
    </div>
</transition>
<script>
    $(document).ready(() => {
        let endpoint = ""
        let zadatak_id = ""

        $('#edit-task-in-activity').click(async function() {
            endpoint = "/modifytask"
            $('#state-input').show()

            $('#tasks').children().each(function(i){
                if($(this).attr("class").includes("active"))
                    zadatak_id = $(this).attr("id")
            })
            
            let zadatak = await getTask(zadatak_id)
            $("#new-task-name").val(zadatak.ime)
            $("#new-task-description").val(zadatak.opis)
            $("#hourly").val(zadatak.satnica)
            $('#duration').val(zadatak.predvideno_trajanje)
            $('#task-state').val(zadatak.stanje)

        })

        $('#add-task-to-activity').click(function() {
            endpoint = "/createtask"
            $('#state-input').hide()
        })

        $('#submit-task').click(async function() {
            if($("#new-task-name").val() == '' || 
                $("#new-task-description").val() == '' || 
                    $("#hourly").val() == '' ||
                        $("#duration").val() == '')
                    return
            
            //dodati provjeru jesu li brojevi ono sto bi trebali biti brojevi


            let djelatnost_id= undefined
            $('#activities').children().each(function(i){
                if($(this).attr("class").includes("active"))
                    djelatnost_id = $(this).attr("id")
            })
               
            $.ajax({
                type: "POST",
                url: endpoint,
                data: {
                    'djelatnost': djelatnost_id,
                    'ime': $("#new-task-name").val(),
                    'opis': $("#new-task-description").val(),
                    'satnica': $("#hourly").val(),
                    'trajanje': $("#duration").val(),
                    'stanje': $('#task-state').val(),
                    'id': zadatak_id,
                    'csrfmiddlewaretoken': token
                },
                success: function(data) {
                    osvjeziPrikazZadataka(djelatnost_id)
                    formReset()
                    $(".popup-window").hide()
                },
                error: function(data){
                    alert("Greska")
                }
            })
            
        })

    })
</script>