<transition>
    <div class="overlay">
        <!-- FORMA ZA DODAVANJE i UREĐIVANJE DJELATNOSI -->
        <div class="add-activity-form">
            <form id="activity-form">
                <div class="form-group">
                    <label for="new-activity-name"><strong>Naziv djelatnosti</strong></label>
                    <input type="text" class="form-control" id="new-activity-name" placeholder="Upišite naziv djelatnosti" required>
                </div>
                <div class="form-group">
                    <label for="new-activity-description"><strong>Opis djelatnosti</strong></label>
                    <textarea class="form-control" id="new-activity-description" 
                                placeholder="Opišite djelatnost i opseg njenog posla..."
                                    rows="7" required></textarea>
                </div>
                <div class="form-group">
                    <label for="hourly"><strong>Satnica <i>(Kn)</i></strong></label>
                    <input type="number" class="form-control" id="hourly" placeholder="Preporučena satnica (kn)" required>
                </div>
                <div class="text-align-center">
                    <button id="submit-activity" class="add-new-activity-action btn btn-primary">Stvori novu aktivnost</button>
                    <button class="discard-add-new-activity-action btn btn-secondary">Odustani</button>
                </div>
            </form>
        </div>
    </div>
</transition>

<script>
    $(document).ready(() => {
        let endpoint = ""
        let djelatnost_id = ""

        $('#edit-activity').click(async function() {
            endpoint = "/modifygrouptask"

            $('#activities').children().each(function(i){
                if($(this).attr("class").includes("active"))
                    djelatnost_id = $(this).attr("id")
            })
            
            let djelatnost = await getActivity(djelatnost_id)
            $("#new-activity-name").val(djelatnost.ime_djelatnosti)
            $("#new-activity-description").val(djelatnost.opis_djelatnosti)
            $("#hourly").val(djelatnost.satnica_kn)

        })

        $('#add-activity').click(function() {
            endpoint = "/createaddgrouptask"
        })

        $('#submit-activity').click(async function() {
            if($("#new-activity-name").val() == '' || 
                $("#new-activity-description").val() == '' || 
                    $("#hourly").val() == '')
                    return
            
            //dodati provjeru jesu li brojevi ono sto bi trebali biti brojevi


            let grupa_id = undefined
            $('#groups').children().each(function(i){
                if($(this).attr("class").includes("active"))
                    grupa_id = $(this).attr("id")
            })
               
            $.ajax({
                type: "POST",
                url: endpoint,
                data: {
                    'grupa': grupa_id,
                    'ime': $("#new-activity-name").val(),
                    'opis': $("#new-activity-description").val(),
                    'satnica': $("#hourly").val(),
                    'id': djelatnost_id,
                    'csrfmiddlewaretoken': token
                },
                success: function(data) {
                    osvjeziPrikazDjelatnosti(grupa_id)
                    formReset()
                    $(".popup-window").hide()
                },
                error: function(data){
                    alert("Greska")
                }
            })
            
        })

    })

</script>