<transition>
    <div class="overlay">
        <!-- FORMA ZA STVARANJE KORISNIKA -->
        <div class="add-activity-form w-25">
            <form id="user-registration-form" action="#" method="POST" target="_blank">
                <div class="form-group">
                    <label for="name"><strong>Ime</strong></label>
                    <input type="text" class="form-control" id="name" placeholder="Ime djelatnika" required>
                </div>
                <div class="form-group">
                    <label for="surname"><strong>Prezime</strong></label>
                    <input type="text" class="form-control" id="surname" placeholder="Prezime djelatnika" required>
                </div>
                <div class="form-group">
                    <label for="username"><strong>Korisničko ime</strong></label>
                    <input type="text" class="form-control" id="username" placeholder="Korisničko ime djelatnika" required>
                </div>
                <div class="form-group">
                    <label for="email"><strong>E-mail</strong></label>
                    <input type="text" class="form-control" id="email" placeholder="E-mail djelatnika" required>
                </div>
                <div class="form-group">
                    <label for="role"><strong>Uloga</strong></label>
                    <input type="text" class="form-control" id="role" placeholder="Voditelj (V) ili Radnik (R) [Za testiranje moze i D kao direktor]" required>
                </div>
                <div class="form-group">
                    <label for="password"><strong>Lozinka</strong></label>
                    <input type="password" class="form-control" id="password" placeholder="Lozinka" required>
                </div>
                <div class="form-group">
                    <label for="repeated-password"><strong>Ponovljena lozinka</strong></label>
                    <input type="password" class="form-control" id="repeated-password" placeholder="Ponovljena lozinka" required>
                </div>
                
                <div class="text-align-center">
                    <button id="submit-user" class="add-new-activity-action btn btn-primary">Stvori novog korisnika</button>
                    <button class="discard-add-new-activity-action btn btn-secondary">Odustani</button>
                </div>
            </form>
        </div>
    </div>
</transition>

<script>
    $(document).ready(() => {
        //TODO obavijesiti korisnika sto je krivo ne samo return 
        $('#submit-user').click(() => {
            if($("#name").val() == '' || $("#surname").val() == '' || 
                    $("#email").val() == '' || $("#role").val() == '' ||
                        $("#password").val() == '' || $("#repeated-password").val() == '' ||
                            $("#username").val() == '') {
                console.log("nesto je prazno")
                return           
            }
                

            if($("#role").val() != 'V' && $("#role").val() != 'R' && $("#role").val() != 'D') {
                console.log("Ne valja uloga")
                return   
            }

            if( $("#password").val() != $("#repeated-password").val()) {
                console.log("lozinke nisu iste")
                return
            }

           

             $.ajax({
                type: "POST",
                url: "/createuser",
                data: {
                    'ime': $("#name").val(),
                    'prezime': $("#surname").val(),
                    'username': $("#username").val(),
                    'email': $("#email").val(),
                    'uloga': $("#role").val(),
                    'password': $("#password").val(),
                    'csrfmiddlewaretoken': token
                },
                success: function(data) {
                    window.location.reload()
                },
                error: function(data){
                    console.log(data.responseJSON)
                    if (data.responseJSON.email) {alert(data.responseJSON.email)}
                    if (data.responseJSON.username) {alert(data.responseJSON.username)}
                    
                    
                }
             })

        })
    })

</script>