<transition>
    <div class="overlay">
        <!-- FORMA ZA UREĐIVANJE PROFILA KORISNIKA -->
        <div class="add-activity-form w-25">
            <div id="edit-information-form">
                <div class="form-group">
                    <label for="name"><strong>Ime</strong></label>
                    <input type="text" class="form-control" id="name" placeholder="Novo ime" required>
                </div>
                <div class="form-group">
                    <label for="surname"><strong>Prezime</strong></label>
                    <input type="text" class="form-control" id="surname" placeholder="Novo prezime" required>
                </div>
                <div class="form-group">
                    <label for="email"><strong>E-mail</strong></label>
                    <input type="text" class="form-control" id="email" placeholder="Novi e-mail" required>
                </div>
                <div class="form-group">
                    <label for="password"><strong>Lozinka</strong></label>
                    <input type="password" class="form-control" id="password" placeholder="Nova Lozinka" required>
                </div>
                <div class="form-group">
                    <label for="repeated-password"><strong>Ponovljena lozinka</strong></label>
                    <input type="password" class="form-control" id="repeated-password" placeholder="Ponovljena nova lozinka" required>
                </div>
                <div class="form-group">
                    <label for="profile-picture-upload"><strong>Upload slike profila</strong></label>
                    <input type="file" class="form-control-file" id="profile-picture-upload" accept="image/png, image/jpeg">
                </div>
                <div class="text-align-center">
                    <button id="submit-user" class="add-new-activity-action btn btn-primary"></button>
                    <button class="discard-add-new-activity-action btn btn-secondary">Odustani</button>
                </div>
            </div>
        </div>
    </div>
</transition>

<script>
    const token = $('[name ="csrfmiddlewaretoken"').val()

    $(document).ready(async function() {
        let korisnik = await getCurrentUser();
        $("#name").val(korisnik.ime)
        $("#surname").val(korisnik.prezime)
        $("#email").val(korisnik.kontakt)
        $("#password").attr("placeholder", "(nepromijenjena)")
        $("#repeated-password").attr("placeholder", "(nepromijenjena)")



        //TODO obavijesiti korisnika sto je krivo ne samo return 
        $('#submit-user').click(() => {
            if($("#name").val() == '' || $("#surname").val() == '' || 
                    $("#email").val() == '') {
                alert("sva polja moraju biti ispunjena")
                return           
            }

            if( $("#password").val() != $("#repeated-password").val()) {
                alert("Loginke nisu iste!")
                return
            }

            console.log($("#profile-picture-upload").val())
           

             $.ajax({
                type: "POST",
                url: "/modifycurrentuser",
                data: {
                    'ime': $("#name").val(),
                    'prezime': $("#surname").val(),
                    'kontakt': $("#email").val(),
                    'password': $("#password").val(),
                    'slika_path': $("#profile-picture-upload").val(),
                    'csrfmiddlewaretoken': token
                },
                success: function(warning) {
                    if(warning != "")
                        alert(warning)
                    window.location.reload()
                },
                error: function(data){
                    alert("greška")
                }
             })

        })
    })

</script>