<transition>
    <div class="overlay">
        <!-- FORMA ZA DODAVANJE GRUPE -->
        <div class="add-activity-form">
            <form id="group-form" class="d-flex flex-column">
                <div class="form-group">
                    <label for="new-group-name"><strong>Naziv grupe:</strong></label>
                    <input type="text" class="form-control" id="new-group-name" placeholder="Upišite naziv grupe" required>
                </div>
                <label><strong>Odaberite voditelja:</strong></label>
                <div id="managers" style="height: 40vh;" class="worker-gallery coworkers-list list-group px-5 flex-grow-1">
                    <!-- VODITELJI -->
                </div>
                <div class="text-align-center">
                    <button id="submit-group" type="submit" class="add-new-activity-action btn btn-primary" disabled>Stvori novu grupu</button>
                    <button class="discard-add-new-activity-action btn btn-secondary">Odustani</button>
                </div>
            </form>
        </div>
    </div>
</transition>

<script>
    $(document).ready(() => {
        //Izlistaj sve voditelje
        for(v of voditelji) {
            $('#managers').append(`
                <div id="${v.id}" class="worker-selection list-group-item list-group-item-action">
                    <div class="user-profile">
                        <button id="user-profile-picture" class="avatar btn"></button>
                        <button id="user-name-surname" class="username-label btn h-25 m-1">${v.ime} ${v.prezime}</button>
                    </div>
                </div>
            `)
        }

        if(voditelji.length == 0)
            $('#managers').append(`
                    <div class="d-flex flex-column justify-content-center h-100">
						<p class="text-align-center align-self-center">
							<i>Trenutno nema dostupnih voditelja</i>
						</p>
					</div>
                `)
         

        $('#submit-group').click(() => {
            var voditelj_id = undefined

            $('#managers').children().each(function(i){
                if($(this).attr("class").includes("active"))
                    voditelj_id = $(this).attr("id")
                    console.log(voditelj_id)
            })

            if($("#new-group-name").val() == '')
                return

             $.ajax({
                type: "POST",
                url: "/creategroup",
                data: {
                    'voditelj':voditelj_id,
                    'ime_grupe':$('#new-group-name').val(),
                    'csrfmiddlewaretoken': token
                },
                success: function(data) {
                    //nije efikasno ali postoje mala baza ne gubi se puno vremena
                    window.location.reload()
                },
                error: function(data){
                    alert("Greska")
                }
             })

        })
    })

</script>