{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href={% static "styles/style.css" %} type="text/css" media="screen, projection">
    <link rel="shortcut icon" type="image/png" href={% static "images/favicon.png" %}>

    <script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" ></script>  
    <script src={% static "scripts/event_listeners.js" %}></script>
    <script src={% static "scripts/plugins_script.js" %}></script>

    <title>{{ title }}</title>
</head>