<transition>
    <div class="overlay">
        <!-- FORMA ZA LOGIN -->
        <div class="add-activity-form w-25">
            <form id="login-form">
                <div class="form-group">
                    <label for="username"><strong>Username</strong></label>
                    <input type="text" class="form-control" id="username" placeholder="username" required>
                </div>
                <div class="form-group">
                    <label for="password"><strong>Password</strong></label>
                    <input type="password" class="form-control" id="password" placeholder="password" required>
                </div>
                <div class="text-align-center">
                    <button id="submit" class="add-new-activity-action btn btn-primary">Login</button>
                    <button class="discard-add-new-activity-action btn btn-secondary">Odustani</button>
                </div>
            </form>
        </div>
    </div>
</transition>

<script>
    $(document).ready(() => {
        const token = $('[name ="csrfmiddlewaretoken"').val()

        $('#submit').click(() =>  {

            if($("#username").val() == '' || $("#password").val() == '')
                return

             $.ajax({
                type: "POST",
                url: "/login",
                data: {
                    'username':$("#username").val(),
                    'password':$("#password").val(),
                    'csrfmiddlewaretoken':token
                },
                success: function(data){
                    window.location = "/"
                },
                error: function(data){
                    alert(data.responseText)
                }
             })

        })
    })
</script>