{% load static %}
<header class="navbar d-flex flex-row ">
    <div class="company-logo lead">
        <strong>[Mi puno radimo]</strong>
    </div>
    <div class="navbar-buttons">
        <button id="login" class="btn btn-secondary w-100"> Login </button>
    </div>
</header>