{% load static %}
<header class="navbar d-flex flex-row ">
    <div class="company-logo lead">
        <strong>[Mi puno radimo]</strong>
    </div>
    <div class="navbar-buttons">
        <button id="home" class="home btn"></button>
        <button id="profile" class="avatar btn"></button>
        <button id="logout" class="logout btn"></button>
    </div>
</header>

<script>
    $(document).ready(() =>  {
      const token = $('[name ="csrfmiddlewaretoken"]').val()

      $('#logout').on('click', () => {
        $.ajax({
          type: "POST",
          url: "/logout",
          data: {
              'csrfmiddlewaretoken':token
          },
          success: function(data){
            window.location = "/"
          },
          error: function(data){
            alert("greska")
          }
        })
      })
      
      $('#profile').on('click', () => {
        window.location = '/profile'
      })

      $('#home').on('click', () => {
        window.location = '/'
      })

    })
</script>