<transition>
    <div class="overlay">
        <div class="add-activity-form w-50">
            <form id="record-form" class="text-align-left">
                <div class="form-group">
                    <label for="how-many-hours"><strong>Vrijeme provedeno na zadatku (u satima)</strong></label>
                    <input type="number" class="form-control" id="how-many-hours" placeholder="Trajanje (h)" required>
                </div>
                <div class="form-group">
                    <label for="record-description"><strong>Opis odrađenog posla</strong></label>
                    <textarea class="form-control" id="record-description" 
                                placeholder="Opišite što ste za sad napravili..."
                                    rows="7" required></textarea>
                </div>
                <div class="text-align-center">
                    <button id="submit" class="add-new-activity-action btn btn-primary">Evidentiraj!</button>
                    <button class="discard-add-new-activity-action btn btn-secondary">Odustani</button>
                </div>
            </form>
        </div>
    </div>
</transition>

<script>
    $(document).ready(() => {

        $('#submit').click(() =>  {

            if($("#how-many-hours").val() == '' || $('#record-description').val() == '')
                return

            var zadatak_id = undefined

            $('#tasks').children().each(function(i){
                if($(this).attr("class").includes("active"))
                   zadatak_id = $(this).attr("id")
            })

             $.ajax({
                type: "POST",
                url: "/createrecord",
                data: {
                    'satnica': $("#how-many-hours").val(),
                    'zadatak': zadatak_id,
                    'opis': $('#record-description').val(),
                    'csrfmiddlewaretoken':token
                },
                success: function(data){
                    window.location.reload()
                },
                error: function(data){
                    alert("Greška")
                }
             })

        })
    })
</script>