<transition>
    <div id="mode" style="display: none;" name="{{string}}"></div>
    <div class="overlay">
        <div id="list-of-users" class="add-from-list d-flex flex-column" style="position: relative;">
            <div id="available-workers" class="worker-gallery coworkers-list list-group px-5 flex-grow-1">
                <!-- DOSTUPNI RADNICI -->
            </div>
            <div>
                <button id="add-user-to-group" class="add-new-activity-action btn btn-primary" disabled>Dodaj odabranog korisnika</button>
                <button class="discard-add-new-activity-action btn btn-secondary">Odustani</button>
            </div>
        </div>
    </div>
</transition>

<script>
    $(document).ready(() => {
        $('#list-of-users').prepend(`
                    <div  id="no-available-workers" style="display: none;">
                        <div class="d-flex flex-column justify-content-center h-100" >
                            <p class="text-align-center align-self-center">
                                <i>Trenutno nema dostupnih članova</i>
                            </p>
					    </div>
                    </div>
                `)

        
        for(d of djelatnici) {
            $('#available-workers').prepend(`
					<div id="${d.id}" class="worker-selection list-group-item list-group-item-action">
						<div class="user-profile">
							<button id="user-profile-picture" class="avatar btn"></button>
							<button id="user-name-surname" class="username-label btn h-25 m-1">${d.ime} ${d.prezime}</button>
						</div>
					</div>
            `)
        }

        if(djelatnici.length == 0)
            $('#no-available-workers').show()

        mode = $('#mode').attr('name')

        if(mode == "dodaj_uz_zadatak") {
            $('#available-workers').after(`
                <div class="form-group text-align-left mb-4">
                    <label for="duration-for-worker"><strong>Dnevno opterećenje <i>(U satima)</i></strong></label>
                    <input type="number" class="form-control" id="duration-for-worker" placeholder="Opterećenje (h)" required>
                </div>
            `)

            $('#add-user-to-group').text("Dodaj odabranog korisnika uz zadano opterećenje")
        }

        //dodavanje korisnika u grupu
        $('#add-user-to-group').click(() => {
            let djelatnik_id = undefined
            //OVAKVE STVARI TREBA CASHIRATI RADI OPTIMIZACIJE ALI NEMAMO VREMENA TRENUTNO
            $('#available-workers').children().each(function(i){
                if($(this).attr("class").includes("active"))
                    djelatnik_id = $(this).attr("id")
            })

             //za stranicu direktora
            if(mode == "dodaj_u_grupu") {

                let grupa_id = undefined
                $('#groups').children().each(function(i){
                    if($(this).attr("class").includes("active"))
                        grupa_id = $(this).attr("id")
                })


                $.ajax({
                type: "POST",
                url: "/addusertogroup",
                data: {
                    'djelatnik': djelatnik_id,
                    'ime_grupe': grupa_id,
                    'csrfmiddlewaretoken': token
                },
                success: function(data) {
                    console.log(data)
                    izmijeniPrikazGrupe(transform(data)[0])
                },
                error: function(data){
                    alert("Greska")
                }
             })


            //za stranicu voditelja	
            } else if(mode == "dodaj_uz_zadatak") {

                if($("#duration-for-worker").val() == "")
                    return

                //dodati provjeru je li broj

                let zadatak_id = undefined
                $('#tasks').children().each(function(i){
                    if($(this).attr("class").includes("active"))
                        zadatak_id = $(this).attr("id")
                })


                $.ajax({
                    type: "POST",
                    url: "/addtasktouser",
                    data: {
                        'korisnik': djelatnik_id,
                        'zadatak': zadatak_id,
                        'trajanje': $("#duration-for-worker").val(),
                        'csrfmiddlewaretoken': token
                    },
                    success: function(data) {
                        osvjeziPrikazDjelatnika(zadatak_id)
                        $("#duration-for-worker").val('')
                    },
                    error: function(data){
                        alert("Greska")
                    }
                })
            }
        })

    })
</script>