body {
  height: 100vh;
  font-size: 14pt;
}


main {
  height: calc(100% - 66px - 40px);
}

.row {
  height: 100%;
}

@font-face {
  font-family: Aquire;
  src: url(../fonts/Aquire-BW0ox.otf);
}

@font-face {
  font-family: BunchBlossoms;
  src: url(../fonts/BunchBlossomsPersonalUse-0nA4.ttf);
}

.task-bar-btn-container {
  margin-top: 10px;
}

.text-align-center {
  text-align: center;
}

.task-bar-percentage {
  position: absolute;
  margin: 0;
  left: 50%;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.logout {
  height: 50px;
  width: 50px;
  background-image: url(../images/logout_button.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.avatar {
  background-image: url(../images/user-icon.png);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  border-radius: 30px;
}

.profile-picture {
  background-image: url(../images/user-icon.png);
  width: 15vw;;
  height: 15vw;
  max-height: 230px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 200px;
  min-width: 200px;
}

.home {
  background-image: url(../images/black_home.png);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 30px;
}

.navbar {
  width: 100%;
  z-index: 1020;
  background-color: #007bff;
}
.navbar-buttons {
  min-width: 100px;
}

.company-logo {
  font-family: BunchBlossoms;
  font-size: 20pt;
}

.copyright {
  height: 40px;
  background-color: #2424243e;
  color: grey;
}
/* ---------------------------------------- */
.worker-gallery {
  overflow-y: auto;
}

.coworkers-list > .list-group-item,
.task-list > .list-group-item,
.group-list > .list-group-item {
  margin-bottom: 20px;
  min-height: 100px;
  border-radius: 10px;
}

button.list-group-item:focus {
  outline: none;
}

.user-profile{
  display: flex;
  flex-direction: row;
  text-align: left;
  margin: 10px;
}

.coworkers-list, .task-list,
.group-list {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-y: auto;
}

.task-description {
  padding: 1em;
  min-height: 250px;
  border:  1px solid #00000020;
  border-radius: 10px;
  text-align: left;
}

.column-name {
  margin-top: 20px;
  height: 50px;
}

.first-column, .middle-column,
.third-column {
  height: inherit;
}

.middle-column {
  border:  1px solid #00000020;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #0000001a;
  box-shadow: inset 0 0 6px #0000001a;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px #0000001a;
  box-shadow: inset 0 0 6px #0000001a;
  border-radius: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #00000094;
  z-index: 1300;
  transition: opacity 0.2s ease;
}

.add-activity-form, .add-from-list{
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  height: auto;
  width: 50vw;
}

.add-from-list {
  height: 60vh !important;
}

.add-activity, .add-task, .add-worker {
  background-image: url(../images/add_active.png);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

.add-activity.group {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.delete-activity.group {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.add-worker.assign-manager,
.delete-worker.assign-manager  {
  margin-left: 0px;
  width: 20px;
  height: 20px;
}

.add-activity:disabled, .add-task:disabled, .add-worker:disabled {
  background-image: url(../images/add.png);
}

.edit-activity:disabled, .edit-task:disabled, .edit-worker:disabled  {
  background-image: url(../images/edit.png);
}

.edit-activity, .edit-profile,
.edit-task {
  background-image: url(../images/edit_active.png);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

.edit-profile {
  position: relative;
  z-index: 20;
  left: calc(100% - 50px);
}

.delete-activity:disabled, .delete-task:disabled, .delete-worker:disabled  {
  background-image: url(../images/delete.png);
}

.delete-activity, .delete-task, .delete-worker {
  background-image: url(../images/delete_active.png);
  width: 46px;
  height: 46px;
  background-repeat: no-repeat;
  background-size: contain;
}

.manage-activities-buttons {
  padding-left: 2vw !important;
  padding-right: 2vw !important;
}

.manage-activities-buttons > button{
  margin-top: 15px;
}

.email-icon {
  margin-right: 10px;
  background-image: url(../images/email-icon.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}

.phone-icon {
  margin-right: 10px;
  background-image: url(../images/phone-icon.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain; 
}

.joined-since-icon {
  margin-top: 7px;
  margin-right: 10px;
  background-image: url(../images/joined-since-icon.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}

.available-icon {
  background-image: url(../images/available_icon.png);
  width: 5px;
  height: 5px;
  background-repeat: no-repeat;
  background-size: contain;
}

.unavailable-icon {
  background-image: url(../images/unavailable_icon.png);
  width: 5px;
  height: 5px;
  background-repeat: no-repeat;
  background-size: contain
}

.available-icon + span,
.unavailable-icon + span {
  display: inline-block;
  margin-top: 20px !important;
}

.director-icon {
  margin-right: 10px;
  background-image: url(../images/ceo-icon.jpg);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}

.team-icon {
  margin-right: 10px;
  background-image: url(../images/team_icon.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}

.team-manager-icon {
  margin-right: 10px;
  background-image: url(../images/manager_icon.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}

/* .statistics-gallery, */
.group-activity-gallery,
.activity-gallery {
  margin-bottom: 20px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content;
  gap: 30px;
}

.activity-gallery {
  margin-top: 4em;
  height: calc(100% - 5em);
}

.activity-gallery .group-activity {
  height: 200px;
}

.task-display {
  overflow-y: auto;
  margin-top: 0.5em;
  margin-bottom: 15px;
}

.group-display {
  height: inherit !important;
}

.group-activity-gallery {
  height: calc(100% - 2*90px - 153px);
}

.worker-gallery {
  height: calc(100% - 2*90px - 100px)
}

/* .statistics-gallery {
  height: calc(100% - 90px);
} */

/* .statistics-display {
  height: calc(100% - 252px);
} */

.working-groups-gallery {
  overflow-x: auto;
  height: fit-content;
  max-width: 100%;
  width: fit-content;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  gap: 20px;
}

.working-group-container {
  padding: 10px;
}

.working-group-container > .working-group{
  border-radius: 12px;
}

.working-groups-gallery.coworkers-list {
  padding: 0 !important;
  min-height: initial;
}

.group-activity, .statistics,
.working-group, .director-buttons-container button,
.manager-buttons-container button {
	position: relative;
	padding: .75rem 1.25rem;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: 10px;
	color: #495057;
}

.group-activity {
  height: 150px;
}

.statistics {
  height: fit-content;
}

.working-group {
  height: 100px;
  min-width: 150px;
  width: 12vw;
}

.group-activity.active,
.worker-selection.active {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.username-label {
  color: inherit;
  width: max-content;
}

.activity-description, .statistics-description {
  font-size: 11pt;
}

.director-buttons-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 20px;
	height: calc(2 * 15vw + 2 * 32px + 20px);
  width: calc(2 * 15vw + 20px);
}

.manager-buttons-container {
  display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	height: calc(2 * 15vw + 2 * 32px + 20px);
  width: calc(2 * 15vw + 20px);
}

.director-button-label {
  min-height: 48px;
}

.director-buttons-container button,
.manager-buttons-container button {
	width: 15vw;
  height: 15vw;
  background-repeat: no-repeat;
  background-size: 10vw;
  background-position: center;
}

.statistics-button{
  background-image: url(../images/statistics-icon.png);
  background-color: orange;
}

.user-management-button {
  background-image: url(../images/add-new-user-icon.png);
  background-color: #5151da;
}

.group-management-button {
  background-image: url(../images/group-management-icon.png);
  background-color: red;
}

.activity-management-button {
  background-image: url(../images/activity-management-icon.png);
  background-color: green;
}

.wellcome-text {
  font-size: 40pt;
}

#no-available-workers {
  width: calc(100% - 40px);
  position: absolute;
  top: 40%;
}