<!doctype html>
{% load static %}
<html lang="hr">
{% include "components/Head.html" with title="Upravljanje zadatcima"%}
	
	<body>
		{% csrf_token %}
		{% include "components/Navbar.html" %}

		<!-- SLUZI ZA DEFINICIJU SVIH METODA I PODATAKA PRIJE NIHOVOG KORISTENJA -->
		<script>
			const token = $('[name ="csrfmiddlewaretoken"').val()
			var djelatnici = transform(JSON.parse("{{clanovi_data|escapejs}}"))
			var djelatnosti = transform(JSON.parse("{{djelatnosti_data|escapejs}}"))
	
			var osvjeziPrikazZadataka = async function(djelatnost_id) {
				$('#tasks').children().each(function(i) {
					$(this).remove()
				})
	
				var zadatci = await getAllTasksFromActivity(djelatnost_id)
				for(z of zadatci) {
					$('#tasks').prepend(`
						<div id="${z.id}" class="group-activity">
							<p id="activity-name">${z.ime}</p>
							<p class="activity-description"><i id="activity-description">${z.opis}</i></p>
						</div>
					`)

					//dodati slusace na svaki zadatak
					$(`#tasks #` + z.id).click(taskeventhandler(z))

				}
	
				if(zadatci.length == 0)
					$('#tasks').append(`
						<div id="no-activity" class="d-flex flex-column justify-content-center h-50 w-100"
						style="position: absolute; top: 20%;">
							<p class="text-align-center align-self-center">
								<i>Trenutno nema zadataka za ovu djelatnost</i>
							</p>
						</div>
					`)
			}

			var osvjeziPrikazDjelatnika = async function(zadatak_id) {
				$('#available-workers').children().each(function(i) {
					$(this).show()
				})
				$('#no-available-workers').hide()

				$('#workers-with-task').children().each(function(i) {
					$(this).remove()
				})
				

				let radnici = await getTaskUsers(zadatak_id)

				for(r of radnici) {
					$(`#available-workers #` + r.id).hide()
					

					$('#workers-with-task').prepend(`
						<div id="${r.id}" class="worker-selection list-group-item list-group-item-action in-group">
							<div class="user-profile">
								<button class="avatar btn"></button>
								<button class="username-label btn h-25 m-1">${r.ime} ${r.prezime}</button>
							</div> 
						</div> 
					`)


				}

			
				let visible = 0
				$('#available-workers').children().each(function(i) {
					console.log($(this).css('display') )
					if($(this).css('display') != 'none')
						visible++
				})
				if(visible == 0)
					$('#no-available-workers').show()
				

				if(radnici.length == 0)
					$('#workers-with-task').append(`
						<div id="no-activity" class="d-flex flex-column justify-content-center h-50 w-100 text-align-center"
						style="position: absolute; top: 40%;">
							<p class="text-align-center align-self-center">
								<i>Trenutno nema radnika kojima je dodijeljen trenutni zadatak</i>
							</p>
						</div>
					`)
			}
		
			//zasto sto JS nema smisla pa moram event handlere definirati ovako inace definira samo onaj zadnji (function scope)
			//tvornica event handlera
			var activityeventhandler = function(d) {
				return function() {
					$('#activity-name').html(d.ime_djelatnosti)
					$('#label-for-task-form').html('Naziv zadatka za ' + d.ime_djelatnosti)
					//zadatci
					osvjeziPrikazZadataka(d.id)
				}
			}

			var taskeventhandler = function(z) {
				return function() {
					osvjeziPrikazDjelatnika(z.id)
				}
					
			}
	
		</script>
		
		<main class="container-fluid text-align-center">
			<div class="row">
				<div class="first-column col-sm-3 px-5  d-flex flex-column">
					<h3 class="column-name">Zadane djelatnosti:</h3>
					<div id="activities" class="group-list list-group px-4">
						<!-- DJELATNOST -->
					</div>
				</div>
				
				<div class="middle-column col-sm-8 px-5">
					<div style="display: none;" class="group-display">
						<h3 id="activity-name" class="group-name column-name text-align-left"></h3>
						<div id="tasks" class="group-activity-gallery text-align-left" style="position: relative;">
							<!-- ako je stanje zadatka ovedue pozadinu stavi u crveno -->
							<!-- ZADATCI -->
						</div>
						<hr class="break-line"/>
						<div style="display: none; position: relative; min-height: 200px;" class="workers-display">
							<h3 class="column-name text-align-left"> Dodijeljeno slijedećim radnicima u grupi: </h3>
							<div id="workers-with-task" class="working-groups-gallery coworkers-list list-group text-align-center">
								<!-- RADNIK POVEZAN SA TRENUTNIM ZADATKOM -->
							</div>
						</div>
					</div>
				</div>
				
				<div class="manage-activities col-sm-1 text d-flex flex-column justify-content-between">
					<div style="display: none;" class="group-display">
						<div class="manage-activities-buttons d-flex flex-column mt-5">
							<button id="add-task-to-activity" class="add-task btn" disabled></button>
							<button id="edit-task-in-activity" class="edit-task btn" disabled></button>
							<button id="delete-task-in-activity" class="delete-task btn" disabled></button>
						</div>
					</div>

					<div style="display: none;" class="workers-display">
						<div class="manage-activities-buttons d-flex flex-column mb-5">
							<button id="add-worker-to-task" class="add-worker btn" disabled></button>
							<button id="delete-worker-from-task" class="delete-worker btn" disabled></button>
						</div>
					</div>
				</div>
			</div>

			<div style="display: none;" class="popup-window text-align-left">
				{% include "components/ActivityTaskForm.html" %}
			</div>

			<div style="display: none;" class="popup-window-second">
				{% include "components/UserListForm.html" with string="dodaj_uz_zadatak"%}
			</div>
		</main>
	
		{% include "components/Footer.html" %}

		<script src={% static "scripts/buttons_script.js" %}></script>
		<script>
			$(document).ready(() => {
				//Prvo dodati sve djelatnosti dobivene ovim zahtjevom
				for(d of djelatnosti) {
					$('#activities').prepend(`
						<button id="${d.id}" class="group-selection list-group-item list-group-item-action">${d.ime_djelatnosti}</button>
					`)
					
					//zatim dodati slusac na svaku djelatnost ako bi se stislo na nju
					$('#' + d.id).click(activityeventhandler(d))
				}


				//brisanje zadatka
				$('#delete-task-in-activity').click(function() {
					let zadatak_id = undefined
					$('#tasks').children().each(function(i){
						if($(this).attr("class").includes("active"))
							zadatak_id = $(this).attr("id")
					})

					let djelatnost_id = undefined
					$('#activities').children().each(function(i){
						if($(this).attr("class").includes("active"))
							djelatnost_id = $(this).attr("id")
					})
					
					$.ajax({
						type: "POST",
						url: "/deletetask",
						data: {
							'zadatak': zadatak_id,
							'csrfmiddlewaretoken': token
						},
						success: function(data) {
							osvjeziPrikazZadataka(djelatnost_id)
							$('#edit-task-in-activity').attr("disabled", true)
							$('#delete-task-in-activity').attr("disabled", true)
						},
						error: function(data){
							alert("Greska")
						}
					})
				})

				//brisanje veze korisnika za zadatak
				$('#delete-worker-from-task').click(function() {
					let zadatak_id = undefined
					$('#tasks').children().each(function(i){
						if($(this).attr("class").includes("active"))
							zadatak_id = $(this).attr("id")
					})

					let korisnik_id = undefined
					$('#workers-with-task').children().each(function(i){
						if($(this).attr("class").includes("active"))
							korisnik_id = $(this).attr("id")
					})
					
					$.ajax({
						type: "POST",
						url: "/removetaskfromuser",
						data: {
							'zadatak': zadatak_id,
							'korisnik': korisnik_id,
							'csrfmiddlewaretoken': token
						},
						success: function(data) {
							osvjeziPrikazDjelatnika(zadatak_id)
							$('#delete-worker-from-task').attr("disabled", true)
						},
						error: function(data){
							alert("Greska")
						}
					})
				})
				
			})
		</script>
	</body>
</html>
