<!doctype html>
{% load static %}
<html lang="hr">
    {% include "components/Head.html" with title="Statistics"%}

<body>
	{% csrf_token %}
    {% include "components/Navbar.html" %}

    <script>
        const token = $('[name ="csrfmiddlewaretoken"').val()
        var grupa = transform(JSON.parse("{{grupa_data|escapejs}}"))
        var clanovi = transform(JSON.parse("{{clanovi_data|escapejs}}"))
        var evidencije = transform(JSON.parse("{{evidencije_data|escapejs}}"))

        console.log(grupa)
        console.log(clanovi)
        console.log(evidencije)
    </script>

    <main class="text-align-center d-flex flex-column justify-content-center">
        <!-- prikaz grupe i njezinih clanova i u trecem stubcu odnost predvidjenih i odradjenih sati -->
       <h1>Coming soon...</h1>
    </main>

	{% include "components/Footer.html" %}

    </body>

</html>