<!doctype html>
{% load static %}
<html lang="hr">
    {% include "components/Head.html" with title="Home"%}

<body>
	{% csrf_token %}
    {% include "components/Navbar.html" %}

    <main id="main" class="text-align-center d-flex flex-column justify-content-center">
        <div id="manager-buttons-container" class="manager-buttons-container align-self-center">
            <div class="d-flex flex-column justify-content-center">
                <h5 class="director-button-label">Upravljanje zadatcima</h5>
                <button id="task-management" class="btn director-button activity-management-button"></button>
            </div>
            <div class="d-flex flex-column justify-content-center">
                <h5 class="director-button-label">Moja grupa</h5>
                <button id="group-statistics" class="btn director-button group-management-button"></button>
            </div>
        </div>
    </main>

    {% include "components/Footer.html" %}

    <script>
        var message = '{{message}}'
        if(message != '') {
            $('#manager-buttons-container').remove()
            $('#main').append(`
                <div class="align-self-center text-align-center">
                    <h3><i>${message}</i></h3>
                </div>
            `)
        } else {    
            $(document).ready(() => {
                $('#task-management').click(() =>  {
                    window.location = '/gettaskpage'
                })

                /*JOS NISTA NE RADI NEMA U ALFA VERZIJI*/
                $('#group-statistics').click(() =>  {
                    window.location = '/getleaderstatisticspage'
                })
            })
        }
    </script>

</body>
</html>
