<!doctype html>
{% load static %}
<html lang="hr">
    {% include "components/Head.html" with title="Error"%}

<body>
	{% csrf_token %}
    <header class="navbar d-flex flex-row ">
        <div class="company-logo lead">
            <strong>[Mi puno radimo]</strong>
        </div>
    </header>

    <main class="text-align-center d-flex flex-column justify-content-center">
        <h1 class="align-self-center">403 <span class="h5">Nemate dopuštenje za pristup ovoj lokaciji! <a href="/">Vrati se na početnu</a></span></h1>
    </main>

	{% include "components/Footer.html" %}

    </body>

</html>