<!doctype html>
{% load static %}
<html lang="hr">
{% include "components/Head.html" with title="Home"%}

  <body class="d-flex flex-column">
    {% csrf_token %}
    {% include "components/Navbar.html"%}

    <script>
        const token = $('[name ="csrfmiddlewaretoken"').val()
        var zadatci = transform(JSON.parse("{{zadatci_data|escapejs}}"))
        var grupe = transform(JSON.parse("{{grupe_data|escapejs}}"))
        var djelatnosti = transform(JSON.parse("{{djelatnosti_data|escapejs}}"))


        var eventhandler = function(z) {
            return async function(event){
              $('#task-name').text(z.ime)

              var djelatnost = undefined
              for(d of djelatnosti)
                if(d.id = z.djelatnost)
                  djelatnost = d
              
              $('#activity-name').text(djelatnost.ime_djelatnosti)
              var grupa = undefined
              for(g of grupe)
                if(djelatnost.grupa == g.id)
                  grupa = g

              $('#group-name').text(g.ime_grupe)
              $('#task-description').text(z.opis)
              $('#duration').text(z.predvideno_trajanje)
            }
        }

        var setpercentage = async function(p) {
          percentage = p
          if(p === undefined)
            percentage = await getPercentage()
          $(".task-bar").attr("aria-valuenow", percentage).css("width", percentage + "%")
          $(".task-bar-percentage").text(percentage + "%")
        }

    </script>

    <main class="flex-grow-1 container-fluid text-align-center">
        <div class="row">
          <div class="first-column col-sm-3 px-5 d-flex flex-column">
            <h3 class="column-name">Moji Zadatci</h3>
            <div id="tasks" class="task-list list-group px-4">
              <!-- ZADATAK -->
            </div>
          </div>

          <div class="middle-column col-sm-6 px-5 d-flex flex-column">
              <div class="mt-2 mb-4">
                <p class="text-align-left my-3"><i>Postotak odrađenih sati za <strong id="current-date"></strong>:</i></p>
                <div class="progress text-align-center">
                    <div class="task-bar progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                    <p class="task-bar-percentage">0%</p>
                </div>
              </div>

              <h3 id="task-name" class="task-name column-name mt-5"> Odaberite zadatak </h3>
              <div style="display: none;" class="task-display">
                <p class="group-name text-align-left mb-3"><i id="activity-name" ></i> iz grupe <i id="group-name"></i></p>
                <div class="task-description d-flex flex-column pt-4">
                  <p id="task-description" class="flex-grow-1 text-align-left"></p>
                  <p class="text-align-right"><i>Procijenjeno trajanje: <span id="duration"></span>h</i></p>
                </div>
                <div class="task-bar-btn-container text-right">
                  <button class="task-bar-btn btn btn-outline-primary">Napravi evidenciju rada za ovaj zadatak!</button> 
                </div>
              </div>
          </div>

          <div class="third-column col-sm-3 px-4 d-flex flex-column">
            <h3 class="column-name">Moje grupe</h3> 
            <div id="groups" class="group-list list-group px-4">
              <!-- GRUPA -->
            </div>
          </div>
        </div>

        <div style="display: none;" class="popup-window">
          {% include "components/RecordForm.html" %}
        </div>
      </main>

      {% include "components/Footer.html" %}
      <script>
        //zadatci
        for(z of zadatci) {
          $('#tasks').prepend(`
              <button id="${z.id}" class="task-selection list-group-item list-group-item-action ">${z.ime}</button>
          `)
          
          //slusac
          $('#' + z.id).click(eventhandler(z))
        }
        
        if(zadatci.length == 0) {
          $('#task-name').text("Nemate nikakvih zaduženja! Odmorite se 😊")
          setpercentage(100)
        } else
          setpercentage(undefined)
         

        //grupe
        for(g of grupe) {
          $('#groups').prepend(`
                <button id="${g.id}" class="list-group-item list-group-item-action">${g.ime_grupe}</button>
          `)
        }

      </script>
      <script src={% static "scripts/buttons_script.js" %}></script></script>
  </body>
</html>