﻿<!doctype html>
{% load static %}
<html lang="hr">
    {% include "components/Head.html" with title="Manage activities"%}

<body>
	{% csrf_token %}
	{% include "components/Navbar.html" %}
	
	<!-- SLUZI ZA DEFINICIJU SVIH METODA I PODATAKA PRIJE NIHOVOG KORISTENJA -->
    <script>
		const token = $('[name ="csrfmiddlewaretoken"').val()

	   	var grupe = transform(JSON.parse("{{grupe_data|escapejs}}"))

	   	var osvjeziPrikazDjelatnosti = async function(grupa_id) {
			$('#activities').children().each(function(i) {
				$(this).remove()
			})

			var djelatnosti = await getAllActivitiesFromGroup(grupa_id)
			console.log(djelatnosti)
			for(d of djelatnosti) {
				$('#activities').prepend(`
					<div id="${d.id}" class="group-activity">
						<p id="activity-name">${d.ime_djelatnosti}</p>
						<p class="activity-description"><i id="activity-description">${d.opis_djelatnosti}</i></p>
					</div>
				`)
			}

			if(djelatnosti.length == 0)
			 	$('#activities').append(`
					 <div id="no-activity" class="d-flex flex-column justify-content-center h-50 w-100"
					 style="position: absolute; top: 20%;">
						<p class="text-align-center align-self-center">
			 				<i>Trenutno nije dodana niti jedna djelatnost ovoj grupi</i>
			 			</p>
			 		</div>
			 	`)
		}

	   var obrisiDjelatnost = function(djelatnost_id) {	
			$(`#activities #${djelatnost_id}`).remove()
			$('.edit-activity').attr("disabled", true)
			$('.delete-activity').attr("disabled", true)
	   }

		//zasto sto JS nema smisla pa moram event handlere definirati ovako inace definira samo onaj zadnji (function scope)
		//tvornica event handlera
		var eventhandler = function(g) {
            return async function() {
				$('#group-name').html(g.ime_grupe)

				//voditelj
				voditelj = await getUser(g.voditelj)
				$('#team-manager-name').text(voditelj.ime)

				//broj radnika
				console.log()
				$('#team-size').text(g.clanovi.length)

				//dostupnost
				//TODO

				//djelatnosti
				osvjeziPrikazDjelatnosti(g.id)

			}
        }

   </script>

	<main class="container-fluid text-align-center">
		<div class="row">

			<div class="first-column col-sm-3 px-5  d-flex flex-column">
				<h3 class="column-name">Aktivne grupe:</h3>
				<div id="groups" class="group-list list-group px-4">
					<!-- GRUPE -->
				</div>
			</div>

			<div class="middle-column col-sm-8 px-5">
				<div style="display: none;" class="group-display">
					<h3 id="group-name" class="column-name text-align-left"></h3>
					<div>
						<hr class="break-line" />
						<div class="team-description text-align-left mb-4">
							<div>
								<span class="team-manager-icon btn" disabled></span>
								<span id="team-manager-name"></span>
							</div>
							<div>
								<span class="team-icon btn" disabled></span>
								<span id="team-size"></span>
							</div>
							<div id="available">
								<span id="available-icon" class="available-icon btn" disabled></span>
								<span><i id="available-text">Dostupna</i></span>
							</div>
						</div>
						<hr class="break-line" />
					</div>
					<h3 class="column-name text-align-left"> Dodijeljene djelatnosti: </h3>
					<div id="activities" class="group-activity-gallery text-align-left" style="position: relative;">
						<!-- DJELATNOSTI -->
					</div>
				</div>
			</div>

			<div class="manage-activities col-sm-1 text d-flex flex-column">
				<div style="display: none;" class="group-display">
					<div class="manage-activities-buttons d-flex flex-column mt-5">
						<button id="add-activity" class="add-activity btn" disabled></button>
						<button id="edit-activity" class="edit-activity btn" disabled></button>
						<button id="delete-activity" class="delete-activity btn" disabled></button>
					</div>
				</div>
			</div>

		</div>

		<div style="display: none;" class="popup-window text-align-left">
			{% include "components/ActivityForm.html"%}
		</div>
		
	</main>
	
	{% include "components/Footer.html" %}

	<script>
		$(document).ready(() => {

			//Prvo dodati sve grupe dobivene ovimn zahtjevom
			for(g of grupe) {
				$('#groups').prepend(`
                	<button id="${g.id}" class="group-selection list-group-item list-group-item-action">${g.ime_grupe}</button>
				`)
				
				//zatim dodati slusac na svaku grupu ako bi se stislo na nju
				$('#groups #' + g.id).click(eventhandler(g))
			}


			//delete
			$('#delete-activity').click(function() {
				let djelatnost_id = undefined
                $('#activities').children().each(function(i){
					if($(this).attr("class").includes("active"))
						djelatnost_id = $(this).attr("id")
				})

				let grupa_id = undefined
				$('#groups').children().each(function(i){
					if($(this).attr("class").includes("active"))
						grupa_id = $(this).attr("id")
				})
				
				$.ajax({
					type: "POST",
					url: "/deletegrouptask",
					data: {
						'id': djelatnost_id,
						'csrfmiddlewaretoken': token
					},
					success: function(data) {
						osvjeziPrikazDjelatnosti(grupa_id)
						$('.edit-activity').attr("disabled", true)
						$('.delete-activity').attr("disabled", true)
					},
					error: function(data){
						alert("Greska")
					}
				})
			})
		})
	</script>
	<!-- MORA BITI NA ZADNJEM MJESTU -->
	<script src={% static "scripts/buttons_script.js" %}></script>
</body>
</html>