<!doctype html>
{% load static %}
<html lang="hr">
    {% include "components/Head.html" with title="Home"%}

<body>
	{% csrf_token %}
    {% include "components/Navbar.html" %}

    <main class="text-align-center d-flex flex-column justify-content-center">
        <div class="director-buttons-container align-self-center">
            <div>
                <h5 class="director-button-label">Upravljanje djelatnostima</h5>
                <button id="activity-management" class="btn director-button activity-management-button"></button>
            </div>
            <div>
                <h5 class="director-button-label">Upravljanje grupama</h5>
                <button id="group-management" class="btn director-button group-management-button"></button>
            </div>
            <div> 
                <button id="user-management" class="btn director-button user-management-button"></button>
                <h5 class="mt-2">Upravljanje korisnicima</h5>
            </div>
            <div>
                <button id="statistics" class="btn director-button statistics-button"></button>
                <h5 class="mt-2">Statistika</h5>
            </div>
        </div>
    </main>

    {% include "components/Footer.html" %}

    <script>
        $(document).ready(() => {
            $('#activity-management').click(() =>  {
                window.location = '/managetaskpage'
            })

            $('#group-management').click(() =>  {
                window.location = '/managegrouppage'
            })

            $('#user-management').click(() =>  {
                window.location = '/createuserpage'
            })

            /*JOS NISTA NE RADI NEMA U ALFA VERZIJI*/
            $('#statistics').click(() =>  {
                window.location = '/'
            })
        })
    </script>

</body>
</html>