<!doctype html>
{% load static %}
<html lang="hr">
    {% include "components/Head.html" with title="Manage groups"%}

<body>
	{% csrf_token %}
	{% include "components/Navbar.html" %}
	
	
    <!-- SLUZI ZA DEFINICIJU SVIH METODA I PODATAKA PRIJE NIHOVOG KORISTENJA -->
    <script>
     	const token = $('[name ="csrfmiddlewaretoken"').val()

		var djelatnici = transform(JSON.parse("{{djelatnici_data|escapejs}}")) //Prikazani samo dostupni radnici (Oni koju nisu premasili vise od 8 sati rada)
		var grupe = transform(JSON.parse("{{grupe_data|escapejs}}"))
		//filtrirati samo dostupne voditelje ciji kljuc nema u grupe array (OVO BI TREBALO NA BACKENDU NAPRAVITI)
		var voditelji = transform(JSON.parse("{{voditelji_data|escapejs}}")).filter(v => {
			accept = true
			for(g of grupe)
				if(g.voditelj == v.id)
					accept = false

			return accept
		}) 

		var  osvjeziPrikazRadnika = async function(grupa) {
			//prvo prikazi sve one skrivene od prethodno odabrane grupe
			$('#available-workers').children().each(function(i) {
				$(this).show()
			})
			$('#no-available-workers').hide()

			$('#workers').children().each(function(i) {
				$(this).remove()
			})

			var radnici_iz_grupe = []
			for(d of djelatnici)
				if(grupa.clanovi.includes(d.id))
					radnici_iz_grupe.push(d)

			for(r of radnici_iz_grupe) {
				//sakriti korisnike iz liste svih korisnika (to je ona skrivena lista) koji su u trenutno odabranoj grupi
				//zato jer se ne moze dodati korisnik koji je vec u grupi
				$(`#available-workers #` + r.id).hide()

				//endpoint koji vraca usera na osnovu id-a
				var radnik = await getUser(r.id)
				$('#workers').prepend(`
					<div id="${r.id}" class="worker-selection list-group-item list-group-item-action in-group">
						<div class="user-profile">
							<button id="user-profile-picture" class="avatar btn"></button>
							<button id="user-name-surname" class="username-label btn h-25 m-1">${r.ime} ${r.prezime}</button>
						</div>
					</div>
				`)
			}

			let visible = 0
				$('#available-workers').children().each(function(i) {
					console.log($(this).css('display') )
					if($(this).css('display') != 'none')
						visible++
				})
				if(visible == 0)
					$('#no-available-workers').show()	

			if(radnici_iz_grupe.length == 0)
				$('#workers').append(`
					<div class="d-flex flex-column justify-content-center h-50">
						<p class="text-align-center align-self-center">
							<i>Trenutno nema clanova u ovoj grupi</i>
						</p>
					</div>
				`)
		}

		var izmijeniPrikazGrupe = function(grupa) {
			//promijenjenu grupu stavi u popis već postojećih grupa na odgovarajuće mjesto i onda osvjezi prikaz
			for(let i = 0; i < grupe.length; i++)
				if(grupe[i].id == grupa.id)
					grupe[i].clanovi = grupa.clanovi

			osvjeziPrikazRadnika(grupa)
		   }
		
		//zasto sto JS nema smisla pa moram event handlere definirati ovako inace definira samo onaj zadnji
		var eventhandler = function(g) {
            return async function(event){
				$('#group-name').html(g.ime_grupe)

				//voditelj
				var voditelj = await getUser(g.voditelj)

				$('#team-manager-name').text(voditelj.ime)

				//radnici
				osvjeziPrikazRadnika(g)
			}
        }

    </script>
  
	<main class="container-fluid text-align-center">
		<div class="row">
			<div class="first-column col-sm-3 px-5  d-flex flex-column">
				<div class="column-name d-flex justify-content-center">
					<h3 class="m-0">Aktivne grupe</h3>
					<button class="add-activity group btn" title="Stvori novu grupu"></button>
				</div>
				<div id="groups" class="group-list list-group px-4">
					<!-- GRUPA -->
				</div>
			</div>

			<div class="middle-column col-sm-8 px-5">
				<div style="display:none" class="group-display">
					<div class="column-name text-align-left d-flex">
						<h3 id="group-name" class="column-name text-align-left m-0"></h3>
						<button id="delete-group" style="display: none;" class="delete-activity group btn" title="Obriši grupu"></button>
					</div>
			
					<div>
						<hr class="break-line" />
						<div class="team-description text-align-left mb-4">
							<div>
								<span class="team-manager-icon btn" disabled></span>
								<span><i id="team-manager-name"></i></span>
							</div>
						</div>
						<hr class="break-line" />
					</div>
					<h3 class="column-name text-align-left"> Članovi </h3>
					<div id="workers" class="worker-gallery coworkers-list list-group px-5">
						<!-- RADNIK IZ GRUPE -->
					</div>
				</div>
			</div>

			<div class="manage-activities col-sm-1 text d-flex flex-column">
				<div style="display:none" class="group-display">
					<div class="manage-activities-buttons d-flex flex-column mt-5">
						<button class="add-worker btn" disabled title="Dodaj člana grupe"></button>
						<button id="delete-user-from-group" class="delete-worker btn" disabled title="Obriši odabranog člana grupe"></button>
					</div>
				</div>
			</div>
		</div>

		<div style="display: none;" class="popup-window text-align-left">
			{% include "components/GroupForm.html"%}
		</div>

		<div style="display: none;" class="popup-window-second">
			{% include "components/UserListForm.html" with string="dodaj_u_grupu" %}
		</div>

	</main>
	
	{% include "components/Footer.html" %}
	
	<script>
		$(document).ready(() => {
			//sve ucitane grupe
			for(g of grupe) {
				$('#groups').prepend(`
                	<button id="${g.id}" class="group-selection list-group-item list-group-item-action">${g.ime_grupe}</button>
				`)
				
				//zatim dodati slusac na svaku grupu ako bi se stislo na nju
				$('#groups #' + g.id).click(eventhandler(g))
			}

			//brisanje grupe
			$('#delete-group').click(() => {
				var grupa_id = undefined
                $('#groups').children().each(function(i){
                    if($(this).attr("class").includes("active"))
                        grupa_id = $(this).attr("id")
				})
				
				$.ajax({
					type: "POST",
					url: "/deletegroup",
					data: {
						'ime_grupe': grupa_id,
						'csrfmiddlewaretoken': token
					},
					success: function(data) {
						window.location.reload()
					},
					error: function(data){
						alert("Greska")
					}
				})
			})	
					
			//brisanje korisnika iz grupe
			$('#delete-user-from-group').click(() => {
				let djelatnik_id = undefined

				$('#workers').children().each(function(i){
					if($(this).attr("class").includes("active"))
						djelatnik_id = $(this).attr("id")
				})

				let grupa_id = undefined
				$('#groups').children().each(function(i){
					if($(this).attr("class").includes("active"))
						grupa_id = $(this).attr("id")
				})

				$.ajax({
					type: "POST",
					url: "/removeuserfromgroup",
					data: {
						'clan': djelatnik_id,
						'ime_grupe': grupa_id,
						'csrfmiddlewaretoken': token
					},
					success: function(data) {
						izmijeniPrikazGrupe(transform(data)[0])
						$('#delete-user-from-group').attr('disabled', true)
					},
					error: function(data){
						alert("Greska")
					}
				})
			})
		})
	</script>
	<script src={% static "scripts/buttons_script.js" %}></script>
</body>
</html>