<!doctype html>
{% load static %}
<html lang="hr">
    {% include "components/Head.html" with title="Manage users"%}

<body>
	{% csrf_token %}
    {% include "components/Navbar.html" %}

     <!-- SLUZI ZA DEFINICIJU SVIH METODA I PODATAKA PRIJE NIHOVOG KORISTENJA -->
    <script>
        const token = $('[name ="csrfmiddlewaretoken"').val()
        var korisnici = transform(JSON.parse("{{korisnici_data|escapejs}}"))

        var eventhandler = function(k) {
            return function(event) {
                $('#user-name-surname').text(k.ime + " " + k.prezime)
                let uloga = ""
                switch(k.uloga) {
                    case "D": 
                        uloga = "Direktor"
                        break
                    case "V":
                        uloga = "Voditelj"
                        break
                    case "R":
                        uloga = "Radnik"
                        break
                }
                $('#user-role').text(uloga)
            }
        }

    </script>

    <main class="container-fluid text-align-center">
        <div class="row">
            <div class="first-column col-sm-3 px-5  d-flex flex-column">
                <h3 class="column-name"> Registrirani korisnici:</h3>
                <div id="users" class="coworkers-list list-group px-2">
                    <!-- KORISNICI -->
                </div>
            </div>
            <div class="middle-column col-sm-8 px-5">
                <div style="display:none" class="user-display h-100">
                    <h3 id="user-name-surname" class="column-name text-align-left d-flex"></h3>
                    <div>
                        <hr class="break-line" />
                        <div class="team-description text-align-left mb-4">
                            <p><strong>Uloga: </strong><i id="user-role">Radnik</i></p>
                            <!-- ako je radnik napisati postotak danasnjeg posla -->
                            <!-- ako je voditelj onda prikazati odnos predvidjenog i odradjenog broja sati njegove grupe -->
                        </div>
                        <hr class="break-line" />
                    </div>
                    <div class="statistics-gallery text-align-center d-flex flex-column justify-content-center h-50">
                        <!-- Sve njegove evidencije -->
                        <p><i>Statistika korisnika. Coming soon...</i></p>
                    </div>
                </div>
            </div>
            
            <div class="manage-activities col-sm-1 text d-flex flex-column">
                <div class="manage-activities-buttons d-flex flex-column mt-5">
                    <button class="add-worker btn" title="Dodaj novog korisnika"></button>
                    <button id="delete-user" class="delete-worker btn" disabled title="Obriši odabranog korisnika"></button>
                </div>
            </div>
        </div>
	
	   
	    <div style="display: none;" class="popup-window-second text-align-left">
            {% include "components/CreateUserForm.html"%}
	    </div>

    </main>

	{% include "components/Footer.html" %}

	<script>
		$(document).ready(() => {
            //svi ucitani korisnici
			for(k of korisnici) {
                $('#users').prepend(`
                    <div id="${k.id}" class="worker-selection list-group-item list-group-item-action in-group">
                        <div class="user-profile">
                            <button id="user-profile-picture" class="avatar btn"></button>
                            <button class="username-label btn m-1">${k.ime} ${k.prezime}</button>
                        </div> 
                    </div> 

				`)
                //zatim dodati slusac na svakog korisnika
                $('#' + k.id).click(eventhandler(k))
			}
            
            
            $('#delete-user').click(() => {
				var user_id = undefined
                $('#users').children().each(function(i){
                    if($(this).attr("class").includes("active"))
                        user_id = $(this).attr("id")
				})
				
				$.ajax({
					type: "POST",
					url: "/deleteuser",
					data: {
						'user': user_id,
						'csrfmiddlewaretoken': token
					},
					success: function(data) {
					    window.location.reload()
					},
					error: function(data){
                        console.log(data)
						alert("Greska")
					}
				})
			})	

		})
    </script>
    <script src={% static "scripts/buttons_script.js" %}></script>

</body>
</html>