<!doctype html>
{% load static %}
<html lang="hr">
    {% include "components/Head.html" with title="Statistics"%}

<body>

    {% csrf_token %}
    {% include "components/Navbar.html" %}

    <script>
        const token = $('[name ="csrfmiddlewaretoken"').val()

        var grupe = transform(JSON.parse("{{grupe_data|escapejs}}"))
        var djelatnici = transform(JSON.parse("{{radnici_data|escapejs}}"))
        var voditelji = transform(JSON.parse("{{voditelji_data|escapejs}}"))
		var evidencije = transform(JSON.parse("{{evidencije_data|escapejs}}"))
		//dodan var ima_zadatak iz djanga
        //var ima_zadatak = transform(JSON.parse("{{ima_zadatak_data|escapejs}}"))

		//filtrirati samo dostupne voditelje ciji kljuc nema u grupe array (OVO BI TREBALO NA BACKENDU NAPRAVITI)
		var voditelji = transform(JSON.parse("{{voditelji_data|escapejs}}")).filter(v => {
			accept = true
			for(g of grupe)
				if(g.voditelj == v.id)
					accept = false

			return accept
		})

		var osvjeziPrikazRadnika = async function (grupa) {
			//prvo prikazi sve one skrivene od prethodno odabrane grupe
			$('#available-workers').children().each(function (i) {
				$(this).show()
			})
			$('#no-available-workers').hide()

			$('#workers').children().each(function (i) {
				$(this).remove()
			})

			var radnici_iz_grupe = []
			for (d of djelatnici)
				if (grupa.clanovi.includes(d.id))
					radnici_iz_grupe.push(d)


			//mapa <korisnik, odradena satnica>
            var mapa_evidencija_radnika = new Map();
			for (e of evidencije) {
				if (mapa_evidencija_radnika.has(e.korisnik)) {
					mapa_evidencija_radnika.set(e.korisnik, (mapa_evidencija_radnika.get(e.korisnik)) + e.satnica);
				}
				else {
                    mapa_evidencija_radnika.set(e.korisnik, e.satnica);
				}
			}

			//mapa <korisnik,trajanje_zadatka>
		/*	var mapa_zadatak_trajanje = new Map();
			for (i of ima_zadatak) {
				if (!mapa_zadatak_trajanje.has(i.korisnik)) {
                    mapa_zadatak_trajanje.set(i.korisnik, i.trajanje_zadatka);
                }
            }
			*/

			//ukupan broj sati odreden u grupi
			var ukupan_zbroj_sati_za_grupu = 0;
			//ukupan broj sati predviden za grupu
			//var predvideni_ukupni_sati_za_grupu= 0;

			for (r of radnici_iz_grupe) {
				if (mapa_evidencija_radnika.has(r.id)) {// && mapa_zadatak_trajanje.has(i.korisnik)) {
					ukupan_zbroj_sati_za_grupu += mapa_evidencija_radnika.get(r.id);
					//predvideni_ukupni_sati_za_grupu += mapa_zadatak_trajanje.get(r.id);

					//sakriti korisnike iz liste svih korisnika (to je ona skrivena lista) koji su u trenutno odabranoj grupi
					//zato jer se ne moze dodati korisnik koji je vec u grupi
					$(`#available-workers #` + r.id).hide()
					//endpoint koji vraca usera na osnovu id-a
					var radnik = await getUser(r.id)
					$('#workers').prepend(`
						<div id="${r.id}" class="statistics  mb-4">
								<p id="user-profile-picture" class="avatar btn"></p>
								<p id="evidencija_jednog_radnika">${r.ime} ${r.prezime} <br> <strong>Odrađeno sati: </strong>${mapa_evidencija_radnika.get(r.id)} <br> <strong>Predviđeno sati: </strong></p>
						</div>
					`)

				}
			}

            //$('#group_hours_done').text(ukupan_zbroj_sati_za_grupu)
            $('#group_hours_done').text(ukupan_zbroj_sati_za_grupu)

			let visible = 0
				$('#available-workers').children().each(function(i) {
					console.log($(this).css('display') )
					if($(this).css('display') != 'none')
						visible++
				})
				if(visible == 0)
					$('#no-available-workers').show()

			if(radnici_iz_grupe.length == 0)
				$('#workers').append(`
					<div class="d-flex flex-column justify-content-center h-50">
						<p class="text-align-center align-self-center">
							<i>Trenutno nema clanova u ovoj grupi</i>
						</p>
					</div>
				`)
		}

		var izmijeniPrikazGrupe = function(grupa) {
			//promijenjenu grupu stavi u popis već postojećih grupa na odgovarajuće mjesto i onda osvjezi prikaz
			for(let i = 0; i < grupe.length; i++)
				if(grupe[i].id == grupa.id)
					grupe[i].clanovi = grupa.clanovi

			osvjeziPrikazRadnika(grupa)
		   }

		//zasto sto JS nema smisla pa moram event handlere definirati ovako inace definira samo onaj zadnji
		var eventhandler = function(g) {
            return async function(event){
				$('#group-name').html(g.ime_grupe)

				//voditelj
				var voditelj = await getUser(g.voditelj)

				$('#team-manager-name').text(voditelj.ime)

				//radnici
				osvjeziPrikazRadnika(g)
			}
        }



		console.log(ima_zadatak)
        console.log(grupe)
        console.log(djelatnici)
        console.log(voditelji)
        console.log(evidencije)
    </script>

    <main class="text-align-center d-flex flex-column justify-content-center">
        <div class="row">
            <div class="first-column col-sm-3 px-5  d-flex flex-column">
                <div class="column-name d-flex justify-content-center">
                    <h3 class="m-0">Aktivne grupe</h3>
                </div>
                <div id="groups" class="group-list list-group px-4">
                    <!-- GRUPA -->
                </div>
            </div>

            <div class="middle-column col-sm-9 px-5">
                <div style="display:none" class="group-display">
                    <div class="column-name text-align-left d-flex">
                        <h3 id="group-name" class="column-name text-align-left m-0 "></h3>
                    </div>

                    <hr class="break-line" />
                    <div class="team-description text-align-left">
                        <div>
                            <label class="labela text-align-left m-1"><strong>Grupa odradila: </strong></label>
                            <span id="group_hours_done" class="column-name "></span>
                            <!--	<label class="labela  m-1 ">/</label>
                                    <span id="group_hours_planned" class="column-name"></span>-->
                            <label class="labela  m-1 ">sati</label>


                        </div>
                    </div>
                    <div>
                        <hr class="break-line" />
                        <div class="team-description text-align-left mb-4">
                            <div>
                                <span class="team-manager-icon btn" disabled></span>
                                <span><i id="team-manager-name"></i></span>
                            </div>
                        </div>
                        <hr class="break-line" />
                    </div>
                    <h3 class="column-name text-align-left"> Članovi </h3>
                    <div style="height: inherit;" class="col-sm-8 px-5 d-flex flex-column ">
                        <div id="workers" style="position: relative;" class="worker-gallery text-align-left ">
                            <!-- RADNIK IZ GRUPE STATISTIKA -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include "components/Footer.html" %}

    <script>
        $(document).ready(() => {
            //sve ucitane grupe
            for (g of grupe) {
                $('#groups').prepend(`
                        <button id="${g.id}" class="group-selection list-group-item list-group-item-action">${g.ime_grupe}</button>
                    `)

                //zatim dodati slusac na svaku grupu ako bi se stislo na nju
                $('#groups #' + g.id).click(eventhandler(g))
            }
        })


    </script>
    <script src={% static "scripts/buttons_script.js" %}></script>

</body>

</html>
